<section
  style="
    background-image: url('/assets/images/noise/noise-black.svg');
    background-repeat: repeat;
    min-height: 100vh;
  "
>
  <div class="mx-auto px-8 pt-16">
    <h1
      class="text-3xl md:text-4xl lg:text-5xl text-gray-100 font-extrabold mb-4 leading-snug"
    >
      Nuestros Torneos
    </h1>
    <p
      class="text-base max-w-6xl md:text-lg lg:text-xl text-gray-300 mb-8 leading-normal"
    >
      Aquí encontrarás nuestros eventos, con detalles de horarios, premios y
      reglas específicas de cada uno de ellos.
    </p>
    <!-- Menú de días: tabs horizontal simple y scrollable para móvil -->
    <nav
      role="tablist"
      aria-label="Seleccione día de torneo"
      class="flex mx-auto py-4 gap-4 border-b-2 border-gray-300"
    >
      <button
        role="tab"
        class="whitespace-nowrap rounded-md px-4 py-1 font-semibold text-xs sm:text-sm md:text-base lg:text-base transition-all duration-300 shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 border-b-4 hover:bg-blue-600 hover:text-white"
        [class.text-gray-300]="selectedDay() !== 'viernes'"
        [class.text-black]="selectedDay() === 'viernes'"
        [class.bg-gradient-to-r]="selectedDay() === 'viernes'"
        [class.from-blue-400]="selectedDay() === 'viernes'"
        [class.to-blue-600]="selectedDay() === 'viernes'"
        [class.border-blue-800]="selectedDay() === 'viernes'"
        [class.border-transparent]="selectedDay() !== 'viernes'"
        [attr.aria-selected]="selectedDay() === 'viernes'"
        (click)="selectedDay.set('viernes')"
        id="tab-viernes"
        aria-controls="tabpanel-viernes"
        tabindex="0"
      >
        VIERNES 14
      </button>

      <button
        role="tab"
        class="whitespace-nowrap rounded-md px-3 py-1 font-semibold text-xs sm:text-sm md:text-base lg:text-base transition-all duration-300 shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 border-b-4 hover:bg-blue-600 hover:text-white"
        [class.text-gray-300]="selectedDay() !== 'sábado'"
        [class.text-black]="selectedDay() === 'sábado'"
        [class.bg-gradient-to-r]="selectedDay() === 'sábado'"
        [class.from-blue-400]="selectedDay() === 'sábado'"
        [class.to-blue-600]="selectedDay() === 'sábado'"
        [class.border-blue-800]="selectedDay() === 'sábado'"
        [class.border-transparent]="selectedDay() !== 'sábado'"
        [attr.aria-selected]="selectedDay() === 'sábado'"
        (click)="selectedDay.set('sábado')"
        id="tab-sabado"
        aria-controls="tabpanel-sabado"
        tabindex="-1"
      >
        SÁBADO 15
      </button>

      <button
        role="tab"
        class="whitespace-nowrap rounded-md px-3 py-1 font-semibold text-xs sm:text-sm md:text-base lg:text-base transition-all duration-300 shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-300 border-b-4 hover:bg-blue-600 hover:text-white"
        [class.text-gray-300]="selectedDay() !== 'domingo'"
        [class.text-black]="selectedDay() === 'domingo'"
        [class.bg-gradient-to-r]="selectedDay() === 'domingo'"
        [class.from-blue-400]="selectedDay() === 'domingo'"
        [class.to-blue-600]="selectedDay() === 'domingo'"
        [class.border-blue-800]="selectedDay() === 'domingo'"
        [class.border-transparent]="selectedDay() !== 'domingo'"
        [attr.aria-selected]="selectedDay() === 'domingo'"
        (click)="selectedDay.set('domingo')"
        id="tab-domingo"
        aria-controls="tabpanel-domingo"
        tabindex="-1"
      >
        DOMINGO 16
      </button>
    </nav>

    <!-- Panel día Viernes -->
    <section
      role="tabpanel"
      [attr.aria-labelledby]="'tab-viernes'"
      id="tabpanel-viernes"
      *ngIf="selectedDay() === 'viernes'"
      class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-16 py-8 px-4 min-h-[80vh]"
    >
      <tournament-card
        *ngFor="let event of viernesEvents()"
        [tournament]="event"
        class="transition-all duration-200 rounded-3xl w-full min-h-[360px] flex flex-col"
      ></tournament-card>
    </section>

    <!-- Panel día Sábado con columnas dinámicas -->
    <section
      role="tabpanel"
      [attr.aria-labelledby]="'tab-sabado'"
      id="tabpanel-sabado"
      *ngIf="selectedDay() === 'sábado'"
      [class]="
        'mx-auto grid grid-cols-1 gap-12 py-8 px-4 min-h-[65vh] ' +
        sabadoGridCols()
      "
    >
      <tournament-card
        *ngFor="let event of sabadoEvents()"
        [tournament]="event"
        class="transition-all duration-200 rounded-3xl w-full min-h-[360px] flex flex-col"
      ></tournament-card>
    </section>

    <!-- Panel día Domingo -->
    <section
      role="tabpanel"
      [attr.aria-labelledby]="'tab-domingo'"
      id="tabpanel-domingo"
      *ngIf="selectedDay() === 'domingo'"
      [class]="
        'mx-auto grid grid-cols-1 gap-12 py-8 px-4 min-h-[65vh] ' +
        domingoGridCols()
      "
    >
      <tournament-card
        *ngFor="let event of domingoEvents()"
        [tournament]="event"
        class="transition-all duration-200 rounded-3xl w-full min-h-[360px] flex flex-col"
      ></tournament-card>
    </section>
  </div>
</section>
